<div class="container__small-card">
  <div class="smal-card__photo">
    <img
    src="{{ photoCover }}"
    alt=""
    width="160px"
    height="100px"
    srcset="">
  </div>
  <div class="small-card__text">
    <a href="{{linkReference}}" target="_blank" >
      <div class="small-card__title">
        <p> {{ cardTitle }}</p>
      </div>
      <div class="small-card__description">
        <h2> {{ cardDescription}} </h2>
      </div>
    </a>
  </div>
</div>
<div class="small-card__separator">
  <hr>
</div>
